* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 10vh;
  width: 100%;
  background-color: #3e7a3a;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  border-bottom: 2px solid #000;
}
.brand p {
  width: 50%;
  font-size: 20px;
}
.nav-link-menu {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #000;
}
.nav-links {
  color: #ffffff;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}
.nav-links:hover {
  color: #000;
}
.burger {
  width: 30%;
  height: 100%;
  padding: 0 5% 0 0;
  display: none;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  border-bottom: 2px solid #000;
}
.nav-button-color {
  color: #ffffff;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
.collapsed-nav-menu {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  position: absolute;
  height: 20vh;
  width: 100px;
  right: 0;
  background-color: #11290e;
  z-index: 2;
}
.container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.employer-statement {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  color: #3e7a3a;
}
.employer-statement p {
  text-align: center;
  width: 60%;
}
.employee-questionaire {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
.employee-form {
  height: 90%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  color: #11290e;
}
.employee-form input,
.employee-form label {
  width: 50%;
}
.employee-form button {
  height: 50px;
  width: 25%;
  font-family: "Quicksand", sans-serif;
  background-color: #3e7a3a;
  cursor: pointer;
}
.employee-form button:hover {
  background-color: #11290e;
  transition-duration: 0.5s;
}
.employee-form button:active {
  background-color: #000;
}
@media screen and (max-width: 992px) {
  .nav-link-menu {
    display: none;
  }
  .burger {
    display: flex;
  }
  .collapsed-nav-menu {
    display: flex;
  }
  .brand p {
    width: 75%;
    font-size: 14px;
  }
  .nav-links {
    font-size: 12px;
  }
  .employee-form button {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .employer-statement {
    height: 20%;
    width: 100%;
  }
  .employer-statement p {
    width: 95%;
    font-size: 12px;
  }
  .employee-questionaire {
    height: 80%;
  }
  .employee-form {
    height: 95%;
    width: 95%;
    font-size: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .employer-statement {
    font-size: 20px;
  }
  .employee-form {
    font-size: 20px;
  }
}
